:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
.body {
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-studio {
  color: #212121;
}
.nav {
  display: inline-flex;
  margin-left: 93px;
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-link:hover {
  color: #2196f3;
}
.menu {
  display: flex;
  justify-content: center;
  column-gap: 45px;
}
.header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-position {
  display: flex;
  align-items: center;
}
.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
  /*   margin-bottom: 20px; */
}
.header-contact {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-contact-link:hover {
  color: #2196f3;
}
.header-contact-link:hover .header-svg-item {
  fill: #2196f3;
}
.header-contact-link {
  color: #757575;
}
.header-svg-item {
  margin-right: 10px;
}
.header-contacts {
  align-items: center;
  display: flex;
  margin-left: auto;
  column-gap: 50px;
}
.header-btn {
  padding-right: 10px;
  color: #757575;
}
.header-btn:hover {
  color: #2196f3;
}
.order {
  /*   background-color: #2F303A; */
  background-image: url(../images/SVG/background.svg);
  height: 600px;
  padding-top: 200px;
}
.order-title {
  font-weight: 900;
  width: 696px;
  margin: 0 auto;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  padding-bottom: 30px;
  text-transform: uppercase;
}
.order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
}
.pluses {
  padding-top: 94px;
  padding-bottom: 94px;
}
.pluses-list {
  display: flex;
  column-gap: 30px;
}
.pluses-list-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin: 2px;
  margin-bottom: 30px;
  height: 110px;
}
.pluses-list-item-text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
.pluses-list-item-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
}
/* .pluses-list-item-svg {

} */
.images {
  padding-bottom: 94px;
}
.images-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: #212121;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.images-list {
  display: flex;
  justify-content: space-evenly;
  column-gap: 30px;
}
.workers {
  padding-bottom: 94px;
  background-color: #f5f4fa;
  padding-top: 94px;
}
.workers-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: #212121;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.workers-lists {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
.workers-list {
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2%;
  padding-bottom: 30px;
}
.worker-text {
  font-size: 16px;
  color: #757575;
  display: flex;
  justify-content: center;
}
.worker-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #212121;
  display: flex;
  justify-content: center;
}
.worker-img {
  padding-bottom: 30px;
}
.workers-svgs-lists {
  column-gap: 10px;
  display: flex;
  justify-content: center;
}
.workers-btn {
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.workers-btn:hover {
  fill: #fff;
  padding: 12px;
  outline: solid 1px #2196f3;
  background-color: #2196f3;
}
.gallery-filters {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  column-gap: 8px;
}
.gallery-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}
.gallery-item {
  flex-basis: calc((100% - 60px) / 3);
}
.gallery-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-top: 20px;
}
.gallery-item-text {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.address-text {
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
  /*   padding-bottom: 9px; */
  /*   padding-top: 20px; */
  margin-bottom: 9px;
}
.adress {
  margin-top: 20px;
}
.footer-contact + .footer-contact {
  margin-top: 9px;
}
.footer-contact-link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.footer-studio {
  color: #ffffff;
}
.footer {
  background-color: #212121;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-text {
  font-family: var(--font-family);
  padding-left: 70px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.footer-svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-svgs-lists {
  column-gap: 10px;
  display: flex;
  margin-left: 70px;
}
.footer-btn {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  padding: 10px;
  background-color: #212121;
  border: 1px solid gray;
  fill: #ffffff;
}
.footer-btn:hover {
  background-color: #2196f3;
}
.footer-position {
  display: flex;
}
.always-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.always-clients-svgs-lists {
  display: flex;
  column-gap: 30px;
  justify-content: center;
}
.always-clients-text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  justify-content: center;
  display: flex;
  padding-bottom: 50px;
}
.always-clients-svg {
  /*   display: flex;
  justify-content: center;
  align-items: center; */
  flex-basis: calc((100% - 150px) / 6);
}
.always-clients-btn {
  border-radius: 5%;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.always-clients-btn:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}
